---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

{% if post.title == "" %}
      
    <div class="entry">  
    {{ post.content }}
     </div>  
      
     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.date | date: "%-d %B %Y"}}</a>
      
{% elsif post.external_url %}
      
      <h2><a href="{{ post.external_url }}">{{ post.title }} →</a></h2>
      
      <div class="entry">
       {{ post.content }}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ page.date | date: "%-d %B %Y"}}</a>
      
      
{% else %}
      
     
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
 
      
      <div class="entry">
        {{ post.excerpt }}
      </div>
      

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More | {{ post.date | date: "%-d %B %Y"}}</a>
{% endif %}
      


      
    </article>
  {% endfor %}
</div>
